@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&family=Pacifico&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  font-family: "Montserrat", sans-serif;
}

.active {
  color: #a259ff;
}

.profile-sheet {
  scrollbar-gutter: stable both-edges;
}

.show {
  opacity: 1;
  filter: blur(0px);
}

.geo input {
  padding-inline: 10px;
  border-radius: 0.5rem;
  border: 1px solid rgb(230, 230, 230);
}

.geo input:focus {
  border: 1px solid rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
