@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Figtree", sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  width: 22px !important;
  height: 22px !important;
  background-color: rgb(225, 225, 225);
  border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0.5rem !important;
  font-weight: bolder !important;
  color: rgb(0, 0, 0);
}

.navigation > .active {
  position: relative;
  color: black;
  opacity: 1;
}

.hosting > .active {
  position: relative;
  color: black;
  opacity: 1;
}

.hosting > .active::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 0.18rem;
  background-color: rgb(56, 54, 54);
  bottom: -0.4rem;
  left: 50%;
  transform: translateX(-50%);
}

.bookings > .active {
  color: black;
}

.messages > .active {
  color: black;
  border: 1px dashed black;
}

.inbox > .active {
  color: black;
  border: 1px dashed black;
}

.reviews > .active {
  color: black;
}

.reviews > .active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.18rem;
  background-color: rgb(56, 54, 54);
  bottom: -0.4rem;
  left: 50%;
  transform: translateX(-50%);
}

.reservations > .active {
  color: black;
}

.reservations > .active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.18rem;
  background-color: rgb(56, 54, 54);
  bottom: -0.4rem;
  left: 50%;
  transform: translateX(-50%);
}

.profile-sheet {
  scrollbar-gutter: stable both-edges;
}

.chat-box {
  scrollbar-gutter: stable both-edges;
}

.show {
  opacity: 1;
  filter: blur(0px);
}

.geo input {
  padding-inline: 10px;
  border-radius: 0.5rem;
  border: 1px solid rgb(230, 230, 230);
}

.geo input:focus {
  border: 1px solid rgb(0, 0, 0);
}

.service-location input {
  padding: 1.8rem 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  position: static !important;
  width: max-content !important;
  margin-inline: auto;
}

.swiper-pagination-bullet {
  background-color: rgb(42, 41, 41) !important;
}

.vjs-poster {
  opacity: 0;
}

.chat-box::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

.chat-box::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}

.show-more-less-clickable {
  color: rgb(145, 145, 145) !important;
}

.show-more-less-clickable:hover {
  cursor: pointer !important;
  text-decoration: underline !important;
}
