@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  font-family: "Figtree", sans-serif;
}

.active {
  position: relative;
  color: #5865f2;
  opacity: 1;
}

.active::before {
  content: "";
  position: absolute;
  bottom: -25px;
  width: 100%;
  height: 3px;
  background-color: #5865f2;
  border-radius: 9999px;
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
  size: auto;
  margin: 20mm;
}

@media print {
  .scroll-container {
    overflow: visible;
    height: fit-content;
  }
}
